@model hotel2012.Models.servicios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>servicios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.codigo_servicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
